@import "roboto-fontface.less";
input, label{
  font-family: 'Roboto';
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

.footer{
  padding-top: 20px;
  border-top: solid 1px #eee;
  > .footer-text{
    text-align: center;
  }
}


// Section Main of App Home Page
.f8-sec-main{
  .f8-sec-top{

  }
  .f8-sec-body{
    .f8-sec-body-row{
      margin: 0;
      .f8-sec-col-1{}
      .f8-sec-col-2{}
      .f8-sec-col-3{}
    }
  }
}


// Main container section of admin page
.f8-admin-container{
  margin: 50px 0 0 0;
  .f8-sec-admin-sidebar{
    float: left;
    height: 100%;
    padding:0;
    padding-top: 20px;
    .f8-sec-admin-menus{
      // padding-right: 20px;
      .f8-menu{
        > a.list-group-item{
          border: none;
          border-bottom: 1px solid #ddd;
          border-top: 1px solid #fff;
          border-left: 1px solid #ddd;
          margin-bottom: 0;
        }
      }
    }
  }
  .f8-sec-admin-body{
    border-left: 3px solid #eee;
    border-right: 1px solid #eee;
    min-height: 550px;;
    height: 100%;
    padding: 0;
    padding-top: 20px;
    .f8-sec-inner-block{
      .f8-sec-heading{
        font-size: 18px;
        border-bottom: 1px solid #eee;
        margin-bottom: 20px;
        padding: 10px 0;
      }
      padding: 5px 40px;
    }
  }
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.f8-sec-login-main{
  width: 400px;
  height: 450px;
  // border: 3px solid #aaa;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 50px 0 #6B6B6B;
  -moz-box-shadow: 0 0 50px 0 #6B6B6B;
  box-shadow: 0 0 50px 0 #6B6B6B;
  .f8-login-header{
    height: 50px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bolder;
    vertical-align: middle;
    color: #fff;
    background: #357ebd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 2px solid #aaa;
    line-height: 30px;
  }
  .f8-login-container{
    padding: 20px 40px;
  }
}
.f8-sec-register-main{
  width: 400px;
  height: 500px;
  // border: 3px solid #aaa;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 50px 0 #6B6B6B;
  -moz-box-shadow: 0 0 50px 0 #6B6B6B;
  box-shadow: 0 0 50px 0 #6B6B6B;
  .f8-register-header{
    height: 50px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bolder;
    vertical-align: middle;
    color: #fff;
    background: #357ebd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 2px solid #aaa;
    line-height: 30px;
  }
  .f8-register-container{
    padding: 20px 40px;
  }
}
