@import "roboto-fontface.less";
input, label{
  font-family: 'Roboto';
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

.footer{
  padding-top: 20px;
  border-top: solid 1px #eee;
  > .footer-text{
    text-align: center;
  }
}


// Section Main of App Home Page
.f8-sec-main{
  margin-top: 50px;
  margin-bottom: 100px;
  background: #ffffff;
  .f8-sec-top{
    height: 300px;
    background: #FAFAFA;
    .banner-image-container{
      height: 300px;
      width: 100%;
      overflow: hidden;
    }
  }
  .f8-sec-body{
    position: relative;
    .f8-sec-body-row{
      margin: 0;
      background: #E5F3E7;
      .f8-sec-col-1{
        background: #B2DDB7;

        padding: 20px;
        .f8-block-heading{
          text-align: center;
          text-transform: uppercase;
        }
      }
      .f8-sec-col-2{
        background: #CCE8CF;
        padding: 20px;
        .f8-block-heading{
          text-align: center;
          text-transform: uppercase;
        }
        .post-md{
          width: auto;
          height: 300px;
          background: #fff;
          margin-bottom: 10px;
          .post-image-block{
            // display: inline-block;
            // position: relative;
            // vertical-align: top;
            width: 100%;
            // height: 180px;
            margin: 0 0 4% 0;
            padding: 0;
            a>img{
              width: 100%;
            }
          }
          .post-content-block{
            position: relative;
            // height: 120px;
            padding: 10px;
            width: 100%;
            p>a.post-slug{
              cursor: pointer;
            }
            p>span.post-date{
              color: #aaa;
              font-size: 12px;
            }
          }
        }
      }
      .f8-sec-col-3{
        background: #E5F3E7;
        padding: 20px;
        .f8-block-heading{
          text-align: center;
          text-transform: uppercase;
        }
        .post-sm{
          width: auto;
          height: 80px;
          background: #fff;
          margin-bottom: 10px;
          .post-image-block{
            display: inline-block;
            vertical-align: top;
            width: 27.4%;
            margin: 0 4% 0 0;
            padding: 0;
          }
          .post-content-block{
            display: inline-block;
            // height: 80px;
            width: 66%;
            p>a.post-slug{
              cursor: pointer;
            }
            p>span.post-date{
              color: #aaa;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}


// Main container section of admin page
.f8-admin-container{
  margin: 50px 0 0 0;
  .f8-sec-admin-sidebar{
    float: left;
    height: 100%;
    padding:0;
    padding-top: 20px;
    .f8-sec-admin-menus{
      // padding-right: 20px;
      .f8-menu{
        > a.list-group-item{
          border: none;
          border-bottom: 1px solid #ddd;
          border-top: 1px solid #fff;
          border-left: 1px solid #ddd;
          margin-bottom: 0;
        }
      }
    }
  }
  .f8-sec-admin-body{
    border-left: 3px solid #eee;
    border-right: 1px solid #eee;
    min-height: 550px;;
    height: 100%;
    padding: 0;
    padding-top: 20px;
    .f8-sec-inner-block{
      .f8-sec-heading{
        font-size: 18px;
        border-bottom: 1px solid #eee;
        margin-bottom: 20px;
        padding: 10px 0;
      }
      padding: 5px 40px;
    }
  }
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.f8-sec-login-main{
  width: 400px;
  height: 450px;
  // border: 3px solid #aaa;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 50px 0 #6B6B6B;
  -moz-box-shadow: 0 0 50px 0 #6B6B6B;
  box-shadow: 0 0 50px 0 #6B6B6B;
  .f8-login-header{
    height: 50px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bolder;
    vertical-align: middle;
    color: #fff;
    background: #357ebd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 2px solid #aaa;
    line-height: 30px;
  }
  .f8-login-container{
    padding: 20px 40px;
  }
}
.f8-sec-register-main{
  width: 400px;
  height: 500px;
  // border: 3px solid #aaa;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 50px 0 #6B6B6B;
  -moz-box-shadow: 0 0 50px 0 #6B6B6B;
  box-shadow: 0 0 50px 0 #6B6B6B;
  .f8-register-header{
    height: 50px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bolder;
    vertical-align: middle;
    color: #fff;
    background: #357ebd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 2px solid #aaa;
    line-height: 30px;
  }
  .f8-register-container{
    padding: 20px 40px;
  }
}
