@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Thin.eot');
  src: url('../fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Thin.woff2') format('woff2'), url('../fonts/Roboto-Thin.woff') format('woff'), url('../fonts/Roboto-Thin.ttf') format('truetype'), url('../fonts/Roboto-Thin.svg#Roboto') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Thin';
  src: url('../fonts/Roboto-Thin.eot');
  src: url('../fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Thin.woff2') format('woff2'), url('../fonts/Roboto-Thin.woff') format('woff'), url('../fonts/Roboto-Thin.ttf') format('truetype'), url('../fonts/Roboto-Thin.svg#Roboto') format('svg');
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-ThinItalic.eot');
  src: url('../fonts/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-ThinItalic.woff2') format('woff2'), url('../fonts/Roboto-ThinItalic.woff') format('woff'), url('../fonts/Roboto-ThinItalic.ttf') format('truetype'), url('../fonts/Roboto-ThinItalic.svg#Roboto') format('svg');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto-ThinItalic';
  src: url('../fonts/Roboto-ThinItalic.eot');
  src: url('../fonts/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-ThinItalic.woff2') format('woff2'), url('../fonts/Roboto-ThinItalic.woff') format('woff'), url('../fonts/Roboto-ThinItalic.ttf') format('truetype'), url('../fonts/Roboto-ThinItalic.svg#Roboto') format('svg');
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.eot');
  src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Light.woff2') format('woff2'), url('../fonts/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light.ttf') format('truetype'), url('../fonts/Roboto-Light.svg#Roboto') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto-Light.eot');
  src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Light.woff2') format('woff2'), url('../fonts/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light.ttf') format('truetype'), url('../fonts/Roboto-Light.svg#Roboto') format('svg');
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-LightItalic.eot');
  src: url('../fonts/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-LightItalic.woff2') format('woff2'), url('../fonts/Roboto-LightItalic.woff') format('woff'), url('../fonts/Roboto-LightItalic.ttf') format('truetype'), url('../fonts/Roboto-LightItalic.svg#Roboto') format('svg');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto-LightItalic';
  src: url('../fonts/Roboto-LightItalic.eot');
  src: url('../fonts/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-LightItalic.woff2') format('woff2'), url('../fonts/Roboto-LightItalic.woff') format('woff'), url('../fonts/Roboto-LightItalic.ttf') format('truetype'), url('../fonts/Roboto-LightItalic.svg#Roboto') format('svg');
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg#Roboto') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg#Roboto') format('svg');
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-RegularItalic.eot');
  src: url('../fonts/Roboto-RegularItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-RegularItalic.woff2') format('woff2'), url('../fonts/Roboto-RegularItalic.woff') format('woff'), url('../fonts/Roboto-RegularItalic.ttf') format('truetype'), url('../fonts/Roboto-RegularItalic.svg#Roboto') format('svg');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto-RegularItalic';
  src: url('../fonts/Roboto-RegularItalic.eot');
  src: url('../fonts/Roboto-RegularItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-RegularItalic.woff2') format('woff2'), url('../fonts/Roboto-RegularItalic.woff') format('woff'), url('../fonts/Roboto-RegularItalic.ttf') format('truetype'), url('../fonts/Roboto-RegularItalic.svg#Roboto') format('svg');
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.eot');
  src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Medium.woff2') format('woff2'), url('../fonts/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium.ttf') format('truetype'), url('../fonts/Roboto-Medium.svg#Roboto') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto-Medium.eot');
  src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Medium.woff2') format('woff2'), url('../fonts/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium.ttf') format('truetype'), url('../fonts/Roboto-Medium.svg#Roboto') format('svg');
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-MediumItalic.eot');
  src: url('../fonts/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-MediumItalic.woff2') format('woff2'), url('../fonts/Roboto-MediumItalic.woff') format('woff'), url('../fonts/Roboto-MediumItalic.ttf') format('truetype'), url('../fonts/Roboto-MediumItalic.svg#Roboto') format('svg');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto-MediumItalic';
  src: url('../fonts/Roboto-MediumItalic.eot');
  src: url('../fonts/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-MediumItalic.woff2') format('woff2'), url('../fonts/Roboto-MediumItalic.woff') format('woff'), url('../fonts/Roboto-MediumItalic.ttf') format('truetype'), url('../fonts/Roboto-MediumItalic.svg#Roboto') format('svg');
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.eot');
  src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf') format('truetype'), url('../fonts/Roboto-Bold.svg#Roboto') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto-Bold.eot');
  src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf') format('truetype'), url('../fonts/Roboto-Bold.svg#Roboto') format('svg');
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BoldItalic.eot');
  src: url('../fonts/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-BoldItalic.woff2') format('woff2'), url('../fonts/Roboto-BoldItalic.woff') format('woff'), url('../fonts/Roboto-BoldItalic.ttf') format('truetype'), url('../fonts/Roboto-BoldItalic.svg#Roboto') format('svg');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto-BoldItalic';
  src: url('../fonts/Roboto-BoldItalic.eot');
  src: url('../fonts/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-BoldItalic.woff2') format('woff2'), url('../fonts/Roboto-BoldItalic.woff') format('woff'), url('../fonts/Roboto-BoldItalic.ttf') format('truetype'), url('../fonts/Roboto-BoldItalic.svg#Roboto') format('svg');
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Black.eot');
  src: url('../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Black.woff2') format('woff2'), url('../fonts/Roboto-Black.woff') format('woff'), url('../fonts/Roboto-Black.ttf') format('truetype'), url('../fonts/Roboto-Black.svg#Roboto') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Black';
  src: url('../fonts/Roboto-Black.eot');
  src: url('../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Black.woff2') format('woff2'), url('../fonts/Roboto-Black.woff') format('woff'), url('../fonts/Roboto-Black.ttf') format('truetype'), url('../fonts/Roboto-Black.svg#Roboto') format('svg');
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BlackItalic.eot');
  src: url('../fonts/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-BlackItalic.woff2') format('woff2'), url('../fonts/Roboto-BlackItalic.woff') format('woff'), url('../fonts/Roboto-BlackItalic.ttf') format('truetype'), url('../fonts/Roboto-BlackItalic.svg#Roboto') format('svg');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto-BlackItalic';
  src: url('../fonts/Roboto-BlackItalic.eot');
  src: url('../fonts/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-BlackItalic.woff2') format('woff2'), url('../fonts/Roboto-BlackItalic.woff') format('woff'), url('../fonts/Roboto-BlackItalic.ttf') format('truetype'), url('../fonts/Roboto-BlackItalic.svg#Roboto') format('svg');
}
input,
label {
  font-family: 'Roboto';
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  min-height: 100%;
  background: #fff;
}
.drawer-brand,
.navbar-brand {
  padding: 0;
  margin-left: 0px !important;
}
.drawer-brand img,
.navbar-brand img {
  height: 64px;
}
.navbar-nav > li:hover {
  background: #f8f8f8;
}
.navbar-default .navbar-nav > li > a {
  color: #666666;
  font-size: 16px;
  font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #E65146;
  background-color: transparent;
}
.footer {
  padding-top: 20px;
  border-top: solid 1px #E4E4E4;
}
.footer > .footer-text {
  text-align: center;
}
.f8-nav-container {
  margin: 0 auto;
}
.f8-sec-main {
  margin: 65px auto;
  background: #ffffff;
}
.f8-sec-main .f8-sec-top {
  background: #FAFAFA;
}
.f8-sec-main .f8-sec-top .banner-image-container {
  width: 100%;
}
.f8-sec-main .f8-sec-top .banner-image-container img {
  width: 100%;
}
.f8-sec-main .f8-sec-body {
  padding-top: 20px;
  position: relative;
}
.f8-sec-main .f8-sec-body .f8-sec-body-row {
  margin: 0;
}
.f8-sec-main .f8-sec-body .f8-sec-body-row .f8-sec-col-1 {
  padding: 20px;
}
.f8-sec-main .f8-sec-body .f8-sec-body-row .f8-sec-col-1 .f8-block-heading {
  text-align: center;
  text-transform: uppercase;
}
.f8-sec-main .f8-sec-body .f8-sec-body-row .f8-sec-col-2 {
  padding: 20px;
}
.f8-sec-main .f8-sec-body .f8-sec-body-row .f8-sec-col-2 .f8-block-heading {
  text-align: center;
  text-transform: uppercase;
}
.f8-sec-main .f8-sec-body .f8-sec-body-row .f8-sec-col-2 .post-md {
  width: auto;
  height: 300px;
  background: #fff;
  margin-bottom: 10px;
}
.f8-sec-main .f8-sec-body .f8-sec-body-row .f8-sec-col-2 .post-md .post-image-block {
  width: 100%;
  margin: 0 0 4% 0;
  padding: 0;
}
.f8-sec-main .f8-sec-body .f8-sec-body-row .f8-sec-col-2 .post-md .post-image-block a > img {
  width: 100%;
}
.f8-sec-main .f8-sec-body .f8-sec-body-row .f8-sec-col-2 .post-md .post-content-block {
  position: relative;
  padding: 10px;
  width: 100%;
}
.f8-sec-main .f8-sec-body .f8-sec-body-row .f8-sec-col-2 .post-md .post-content-block p > a.post-slug {
  cursor: pointer;
}
.f8-sec-main .f8-sec-body .f8-sec-body-row .f8-sec-col-2 .post-md .post-content-block p > span.post-date {
  color: #aaa;
  font-size: 12px;
}
.f8-sec-main .f8-sec-body .f8-sec-body-row .f8-sec-col-3 {
  padding: 20px;
}
.f8-sec-main .f8-sec-body .f8-sec-body-row .f8-sec-col-3 .f8-block-heading {
  text-align: center;
  text-transform: uppercase;
}
.f8-sec-main .f8-sec-body .f8-sec-body-row .f8-sec-col-3 .post-sm {
  width: auto;
  height: 80px;
  background: #fff;
  margin-bottom: 10px;
}
.f8-sec-main .f8-sec-body .f8-sec-body-row .f8-sec-col-3 .post-sm .post-image-block {
  display: inline-block;
  vertical-align: top;
  width: 27.4%;
  margin: 0 4% 0 0;
  padding: 0;
}
.f8-sec-main .f8-sec-body .f8-sec-body-row .f8-sec-col-3 .post-sm .post-content-block {
  display: inline-block;
  width: 66%;
}
.f8-sec-main .f8-sec-body .f8-sec-body-row .f8-sec-col-3 .post-sm .post-content-block p > a.post-slug {
  cursor: pointer;
}
.f8-sec-main .f8-sec-body .f8-sec-body-row .f8-sec-col-3 .post-sm .post-content-block p > span.post-date {
  color: #aaa;
  font-size: 12px;
}
.f8-sec-main .f8-sec-body .f8-sec-body-inner {
  margin: 0 !important;
}
.f8-sec-main .f8-sec-body .f8-sec-body-inner .f8-sec-main-col .f8-news-item {
  margin-bottom: 15px;
  width: 100%;
  display: block;
  padding: 15px 0;
}
.f8-sec-main .f8-sec-body .f8-sec-body-inner .f8-sec-main-col .f8-news-item .news-thumb {
  position: relative;
  height: 120px;
  width: 120px;
  float: left;
  margin-right: 20px;
}
.f8-sec-main .f8-sec-body .f8-sec-body-inner .f8-sec-main-col .f8-news-item .news-content {
  position: relative;
}
.f8-sec-main .f8-sec-body .f8-sec-body-inner .f8-sec-main-col .f8-news-item .news-content .news-title {
  font-size: 20px;
  text-decoration: none;
  color: #6AA02B;
}
.f8-sec-main .f8-sec-body .f8-sec-body-inner .f8-sec-main-col .f8-news-item .news-content .news-title:hover {
  margin-bottom: 2px solid #6AA02B;
}
.f8-sec-main .f8-sec-body .f8-sec-body-inner .f8-sec-main-col .f8-news-item .news-content .news-time {
  font-size: 11px;
  color: #888;
}
.f8-sec-main .f8-sec-body .f8-sec-body-inner .f8-sec-main-col .f8-news-item .news-content .news-text {
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.f8-sec-main .f8-sec-body .f8-sec-body-inner .f8-sec-main-col .f8-news-single .news-title {
  font-size: 30px;
  line-height: 35px;
  text-decoration: none;
  color: #6AA02B;
  margin-bottom: 20px;
  font-weight: bold;
}
.f8-sec-main .f8-sec-body .f8-sec-body-inner .f8-sec-main-col .f8-news-single .news-title:hover {
  margin-bottom: 2px solid #6AA02B;
}
.f8-sec-main .f8-sec-body .f8-sec-body-inner .f8-sec-main-col .f8-news-single .news-time-author {
  font-weight: bold;
  margin-bottom: 15px;
}
.f8-sec-main .f8-sec-body .f8-sec-body-inner .f8-sec-main-col .f8-news-single .news-time-author .news-date-time {
  color: #bcbcbc;
}
.f8-sec-main .f8-sec-body .f8-sec-body-inner .f8-sec-main-col .f8-news-single .news-time-author .news-author {
  margin-left: 20px;
  text-transform: uppercase;
  color: #aaa;
}
.f8-sec-main .f8-sec-body .f8-sec-body-inner .f8-sec-main-col .f8-news-single .news-body {
  text-align: justify;
}
.f8-sec-main .f8-sec-body .f8-sec-body-inner .f8-sec-sidebar-col {
  background: #eee;
  padding-top: 15px;
}
.f8-sec-main .f8-sec-body .f8-sec-body-inner .f8-sec-sidebar-col .f8-sec-sidebar-blocks {
  min-height: 700px;
}
.f8-sec-main .f8-sec-body .f8-sec-body-inner .f8-sec-sidebar-col .f8-sec-sidebar-block {
  margin-bottom: 15px;
}
.f8-admin-container {
  margin: 64px auto 0 auto;
  background: #ddd;
}
.f8-admin-container .f8-sec-admin-sidebar {
  float: left;
  height: 100%;
}
.f8-admin-container .f8-sec-admin-sidebar .f8-sec-admin-menus {
  margin-top: 20px;
}
.f8-admin-container .f8-sec-admin-body {
  min-height: 550px;
  height: 100%;
  padding-top: 20px;
}
.f8-admin-container .f8-sec-admin-body .f8-sec-inner-block {
  min-height: 579px;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 10px -2px #4A4A4A;
  -moz-box-shadow: 2px 2px 10px -2px #4A4A4A;
  box-shadow: 2px 2px 10px -2px #4A4A4A;
  margin-bottom: 20px;
  padding: 5px 40px;
}
.f8-admin-container .f8-sec-admin-body .f8-sec-inner-block .f8-sec-heading {
  font-size: 18px;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding: 10px 0;
}
.f8-admin-container .f8-sec-admin-body .f8-sec-inner-block .list-post {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #fefefe;
}
.f8-admin-container .f8-sec-admin-body .f8-sec-inner-block .list-post .list-post-title {
  font-size: 16px;
  margin-bottom: 10px;
}
.f8-admin-container .f8-sec-admin-body .f8-sec-inner-block .list-post .authoring-info {
  font-size: 10px;
  margin-bottom: 10px;
  color: #aaa;
}
.f8-admin-container .f8-sec-admin-body .f8-sec-inner-block .list-post .authoring-info .date {
  font-weight: bold;
  color: #FF9800;
}
.f8-admin-container .f8-sec-admin-body .f8-sec-inner-block .list-post .authoring-info .author {
  font-weight: bold;
  color: #009688;
}
.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.f8-sec-login-main {
  width: 90%;
  max-width: 400px;
  height: 400px;
  border-radius: 3px;
  border: 1px solid #ddd;
  margin: 100px auto;
  /* -webkit-box-shadow: 0 0 50px 0 #6B6B6B; */
  /* box-shadow: 0 0 50px 0 #6B6B6B; */
  background: #ffffff;
}
.f8-sec-login-main .f8-login-header {
  height: 50px;
  padding: 10px 40px;
  font-size: 24px;
  font-weight: bold;
  vertical-align: middle;
  color: #428BCA;
  background: #F8F8F8;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid #ddd;
  line-height: 30px;
  /* border: 1px solid #ddd; */
  /* text-align: center; */
}
.f8-sec-login-main .f8-login-container {
  padding: 20px 40px;
}
.f8-sec-register-main {
  width: 90%;
  max-width: 400px;
  height: 550px;
  border-radius: 3px;
  border: 1px solid #ddd;
  background: #ffffff;
  margin: 100px auto;
}
.f8-sec-register-main .f8-register-header {
  height: 50px;
  padding: 10px 40px;
  font-size: 24px;
  font-weight: bold;
  vertical-align: middle;
  color: #428BCA;
  background: #F8F8F8;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid #ddd;
  line-height: 30px;
}
.f8-sec-register-main .f8-register-container {
  padding: 20px 40px;
}
.f8-sec-blocks {
  padding: 0;
  margin: 0 auto;
}
.f8-sec-blocks .f8-block {
  width: 100%;
  padding: 15px 0 0;
  margin: 0 auto !important;
}
.f8-sec-blocks .f8-block:nth-child(even) {
  background: #DEDEDE;
}
.f8-sec-blocks .f8-block:nth-child(odd) {
  background: #eee;
}
.f8-sec-blocks .f8-block-highlight .f8-block-highlight-main .news-item-highlight {
  -webkit-box-shadow: 0 2px 5px 0 #d4d4d4;
  -moz-box-shadow: 0 2px 5px 0 #d4d4d4;
  box-shadow: 0 2px 5px 0 #d4d4d4;
  display: table;
  margin-bottom: 20px;
}
.f8-sec-blocks .f8-block-highlight .f8-block-highlight-main .news-item-highlight .news-item-highlight-image {
  width: 100%;
}
.f8-sec-blocks .f8-block-highlight .f8-block-highlight-main .news-item-highlight .news-item-highlight-image img {
  width: 100%;
}
.f8-sec-blocks .f8-block-highlight .f8-block-highlight-main .news-item-highlight .news-item-highlight-image .news-item-overlay .news-item-highlight-text {
  display: hidden;
}
.f8-sec-blocks .f8-block-highlight .f8-block-highlight-grid .f8-grid-inner .news-item-grid {
  border-radius: 3px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 2px 5px 0 #d4d4d4;
  -moz-box-shadow: 0 2px 5px 0 #d4d4d4;
  box-shadow: 0 2px 5px 0 #d4d4d4;
  display: table;
}
.f8-sec-blocks .f8-block-highlight .f8-block-highlight-grid .f8-grid-inner .news-item-grid .news-item-image {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 100%;
}
.f8-sec-blocks .f8-block-highlight .f8-block-highlight-grid .f8-grid-inner .news-item-grid .news-item-image img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 100%;
}
.f8-sec-blocks .f8-block-highlight .f8-block-highlight-grid .f8-grid-inner .news-item-grid .news-item-text {
  background: #fff;
  padding: 20px;
  color: #333;
  font-size: 14px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.news-item {
  margin-bottom: 20px;
  -webkit-box-shadow: 0 2px 5px 0 #d4d4d4;
  -moz-box-shadow: 0 2px 5px 0 #d4d4d4;
  box-shadow: 0 2px 5px 0 #d4d4d4;
  display: table;
  border-radius: 3px;
}
.news-item .news-item-image {
  width: 100%;
}
.news-item .news-item-image img {
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.news-item .news-item-image .news-item-overlay .news-item-text {
  font-size: 14px;
  display: hidden;
}
.news-item .news-item-slug {
  background: #fff;
  padding: 20px;
  color: #333;
  font-size: 14px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
textarea {
  border: 1px solid #eee;
  padding: 20px;
}
.list-group-item {
  padding: 10px 15px !important;
}
.list-group-item.active {
  padding: 15px !important;
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #2196F3;
}
#carousel-news-image-gallery {
  height: 400px;
  margin-bottom: 20px;
}
#carousel-news-image-gallery .carousel-inner {
  height: 400px;
}
#carousel-news-image-gallery .carousel-inner .item {
  height: 400px;
  text-align: center;
}
#carousel-news-image-gallery .carousel-inner .item img {
  height: 100% !important;
  display: inline-block !important;
}
#carousel-news-image-gallery .carousel-inner .item .carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0px;
  padding: 20px !important;
}
